<div class="container">
    <h1>Contacto</h1>

    <div id="texto" #textos>
        <p appResaltado>
            <!-- appResaltado es el selector (nombre) de la directiva resaltado.directive.ts, la hemos creado insertando en consola ng g directive resaltado -->
            <!-- Le hemos dicho a la directiva que nos haga un console.log de el nativeElement (propiedad de HTML) -->
            Esta es la pagina de contacto, puedes enviarnos cualquier duda.
        </p>

    </div>
    <div class="about">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae unde consectetur? Molestias
            saepe
            cum cumque eligendi aliquam. Omnis assumenda, perferendis dignissimos soluta nobis tenetur in aspernatur
            ipsum
            eius voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti placeat libero atque
            debitis dignissimos alias iste. Sit aspernatur ipsam consectetur assumenda voluptatem itaque, veniam dolor
            iusto
            ratione iste similique!


            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, corrupti unde? Rem aperiam consectetur
            earum
            culpa veniam error minus esse quasi eveniet quia officia, impedit vitae, quae sit. Est, debitis?. Lorem
            ipsum
            dolor sit, amet consectetur adipisicing elit. Distinctio fuga sunt dolore aliquam dolorem dicta harum
            mollitia
            ab repudiandae, est eos, excepturi fugit saepe reiciendis vitae? Obcaecati asperiores in tempora. Lorem
            ipsum
            dolor, sit amet consectetur adipisicing elit. Recusandae, consequuntur. Nesciunt unde omnis, modi natus
            quaerat
            deserunt pariatur totam provident, amet exercitationem itaque esse ipsum reiciendis maiores ad, sit veniam?
        </p>
    </div>


    <!-- 
    Tamaño del Slider
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button> 
    -->

    <!-- 
    <div *ngIf="anchuraToSlider">
        <slider [anchura]="anchuraToSlider" [captions]="captions" (conseguirAutor)="getAutor($event)"></slider>
        Contact.html recoge los datos de autor del evento conseguirAutor, y los recogemos gracias a nuestro evento creado de getAutor
    </div> TWO WAY DATA BINDING
    -->


    <!-- Importar SLIDER como hijo de Contact, y asi importas un componente sobre otro-->
    <!-- Con la propiedad anchura, le pasamos una propiedad a Slider, pudiendola coger en slider.components.ts, donde la pasará a slider.component.html-->

    <!-- {{autor.nombre + " - " + autor.web}} -->
</div>